section#advantages
  .advantages.wrapper
    h2.title.__title Почему мы продаем недвижимость дорого и в <span>3 раза</span> быстрее <span>99%</span> других агентств
    ul.advantages-list
      li.__item
        article.advantage
          .__info
            header
              h3.__title Собственная база покупателей
            ul.work-list
              li.__item
                p <span>Создаем спрос</span> на объект ещё до размещения его в рекламе
              li.__item
                p Используем <span>закрытые базы</span> риэлторов
              li.__item
                p Продаем через собственную наработанную базу из <span>7000 клиентов</span>
            footer
              p.advantage__specoffer Вы получаете первые предложения о покупке уже <strong>через несколько часов</strong>
          .__view(data-count="01")
            img(src="img/advantages/first.jpg" alt="Красивые аппартаменты в солнечную погоду").__pic

