section#get-price.get-price-bg
  .get-price.wrapper
    .__wrapper
      h2.title.__title= content.getPrice.title
      p.__desc!= content.getPrice.desc
      a(href="#").__questions-link Ответить на вопросы