section#main.main-block
    h1.sr-only Космические аппартаменты по космическим ценам
    .wrapper
        .slider
            .swiper-container
                .swiper-pagination
                .swiper-wrapper
                    .swiper-slide(data-count='1')
                        article.booking-slide
                            h2.title.__title Живи на луне
                            p.__desc принципиально новый дизайнерский комплекс особняков премиум-класса, расположенный на Луне, для тех, кто дорого ценит стиль и функциональность
        a(href="#" title="Забронировать аппартаменты").booking-link Забронировать