section#main.main-block
  .wrapper
    .__left
      h1.title.main-block__title!= content.mainBlock.title
      a(href="#").main-block__sales-link.pulse
        = content.mainBlock.btnText
    .__right
      button.main-block__video-btn(type="button" title="Запустить видео")
      p.main-block__video-help
        != content.mainBlock.videoTip
    ul.info-list
      each val in content.mainBlock.salesInfo
        li.__item
          span
            = val.text