.main-block
  height: 929px
  padding-top: 100px
  background:
    size: 100% 100%
    image: url('../img/bg/main-bg.jpg')

  .wrapper
    height: 100%
    position: relative
    @include media(phone)
      flex-direction: column
      justify-content: flex-start
    @include media(pc)
      flex-direction: row
    align-items: center

    &__left
      @include media(tablet)
        margin-right: 110px
    &__right
      @include media(phone)
        display: flex
        margin-top: 75px
      @include media(phone-wide)
        margin-top: 120px
      @include media(phablet)
        margin-top: 95px
      @include media(tablet)
        margin-top: 80px
      @include media(pc)
        margin-top: 0
      align-items: center
      flex-direction: column

  &__title
    @include media(phone)
      font-size: 24px
    @include media(phablet)
      font-size: 28px
    @include media(tablet)
      font-size: 35px
    max-width: 555px
    letter-spacing: -2px

    span
      color: #e6b87c
      position: relative
      text-transform: uppercase

      &:after
        @include media(phone)
          right: 0
        @include media(tablet)
          right: 60px
        content: ''
        width: 57px
        height: 64px
        bottom: -75px
        display: block
        position: absolute
        background-image: url(../img/patterns/arrow-right-to-down.png)

  &__sales-link
    @include media(phone)
      width: 240px
      display: block
      font-size: 13px
      line-height: 36px
      margin: 95px auto 0
    @include media(phablet)
      width: 310px
      font-size: 15px
      margin: 80px 0 0
      line-height: 48px
      display: inline-block
    height: auto
    font-weight: 700
    text-align: center
    border-radius: 10px
    letter-spacing: -1px
    background-color: #e6b87c
    border: 1px solid #e6b87c
    text-transform: uppercase
    transition: background-color .4s ease-in-out
    filter: drop-shadow(0 0 10.5px rgba(230,184,124,0.75))

    &:hover
      background-color: transparent

  &__video
      &-help
        color: #fff
        font-size: 15px
        max-width: 173px
        margin-top: 40px
        line-height: 20px
        text-align: center

        span
          font-weight: bold
      &-btn
        width: 90px
        height: 90px
        border-radius: 50%
        position: relative
        border: 1px solid #e6b87c
        box-shadow: 0 0 70px 0 #e6b87c
        background-color: rgba(230, 184, 124, .2)
        background-image: url(../img/patterns/btn-shadow.png)

        &:before
          top: 50%
          right: 28px
          content: ''
          display: block
          position: absolute
          border: 9px solid transparent
          border-left: 12px solid #fff
          transform: translateY(-50%)

  .info-list
    @include media(phone)
      left: 35px
      right: 15px
      bottom: 60px
      flex-direction: column
    @include media(phone-wide)
      left: 0
      right: 0
      margin: 0 auto
      max-width: 385px
    @include media(tablet)
      width: 100%
      bottom: 75px
      max-width: unset
      flex-flow: row nowrap
      justify-content: center
    @include media(pc)
      bottom: 95px
      max-width: 910px
    @include media(desktop)
      max-width: unset
    display: flex
    list-style: disc
    position: absolute
    align-items: flex-start
    &__item
      @include media(tablet)
        max-width: 160px
      @include media(pc)
        max-width: 280px
      color: #e6b87c
      font-weight: 300
      line-height: 20px
      &:not(:last-child)
        @include media(phone)
          margin-bottom: 25px
        @include media(tablet)
          margin-bottom: 0
          margin-right: 75px
        @include media(pc)
          margin-right: 125px
      span
        color: #fff