extends ../templates/default/_template

block SEO
    +meta('keywords', '')
    +meta('description', '')
    title Title for main page

block header
  .wrapper
    include ../components/header/logo
    include ../components/header/menu

block content
  include ../components/content/main-block

block footer
  p some footer's components is here