extends ../templates/default/_template

block SEO
    +meta('keywords', '')
    +meta('description', '')
    title Title for main page

block header
  .wrapper
    .__left
      include ../components/header/logo
      include ../components/header/adv
    .__right
      include ../components/header/contacts
      include ../components/header/menu

block content
  include ../components/content/main-block
  include ../components/content/advantages
  include ../components/content/get-price
  include ../components/content/estate-sale

block footer
  p some footer's components is here